body {
    overflow-x: hidden;
}

.gradient-follow-cursor {
    width: 800px;
    height: 700px;
    border: 1px solid black;
    position: absolute;
}

img.gradient-follow {
    position: absolute;
    width: 800px;
    height: 700px;
    z-index: -1;
    transform: translate(-50%, -49%);
    opacity: 0.8
}